/* This file is not being used in this branch */
@font-face {
    font-family: "Caveat";
    font-style: normal;
    font-weight: 400 700;
    font-display: optional;
    src: url(/fonts/Caveat-VariableFont_wght.woff2) format("woff2");
}

body {
    font-family: 'Caveat', 'Brush Script MT';
}
